- let app = manifest['app.js'];
- let styles = manifest['app.css'];
- let vendor = manifest['vendor.js'];
head
  title WebChat
  link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
  link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
  link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
  link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
  link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  link(rel="manifest" href="/manifest.json")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
  meta(name="theme-color" content="#ffffff")
  link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet" href=styles)
  meta(name="viewport" content="width=device-width, initial-scale=1")
body
  audio#call-ringtone(style="display:none;" src="/audio/call-ringtone.mp3")
  audio#calling-ringtone(style="display:none;" src="/audio/calling-ringtone.mp3")
  audio#contact-sound(style="display:none;" src="/audio/contact.mp3")
  audio#hangup(style="display:none;" src="/audio/hangup.mp3")
  audio#message-sound(style="display:none;" src="/audio/message.mp3")
  div#entry-point
    !=html
  script(type="text/javascript")
    | window.__APOLLO_STATE__ = !{state};
    | window.__JWT_TOKEN__ = !{token};
  script(type="text/javascript" src=vendor)
  script(type="text/javascript" src=app)
